# Project 1
## Time Series Forecasting

### Importing libraries and importing dataset

In [38]:
#importing libraries
import pandas as pd
import numpy as np
from prophet import Prophet
import warnings
warnings.filterwarnings("ignore")
np.random.seed(7)

In [39]:
#loading dataset
data = pd.read_csv("DATASET.csv");
#dropping rows (as the count is not 10)
data = data.drop(index=[910, 911, 912, 913, 914, 915, 916, 917, 918])

### Data preprocessing

In [40]:
data.head()

,Unnamed: 0,year,Para-1,Para-2,Para-3,Para-4,Para-5,Para-6,Para-7,Para-8,Para-9,Para-10,Para-11,Para-12,Para-13
0,Sec_1,1,324.0,354.5,17.0,0.0,3,117,2600,400,0.0,0.0,0.0,0,1.52
1,NaN,2,324.0,161.1,18.2,0.0,4,106,5950,1190,0.0,3.4,0.0,0,1.62
2,NaN,3,324.0,170.7,18.5,0.0,4,110,5950,1190,0.0,21.3,0.0,4,1.68
3,NaN,4,324.0,223.9,18.9,0.0,3,110,6150,1340,0.0,21.3,0.0,5,1.78
4,NaN,5,324.0,228.2,18.4,0.0,2,113,6340,1450,0.0,23.9,0.0,7,1.80

In [41]:

#sections[0].drop(columns=sections[0].columns[[0]], inplace=True)
#sections[0]

In [42]:
errors = []
sections = []

for i in range(0, len(data), 10):
    sections.append(data[i:i+10])

In [43]:
indices = np.random.choice(np.arange(len(sections)), 15, replace = False)

### Model training and predictions

In [ ]:
#errors = []
#sections = []

#for i in range(0, len(data), 10):
#    sections.append(data[i:i+10])

#a = np.random.choice(sections, 15, replace = False)
for i in indices:
    section = sections[i]
    section.drop(columns=section.columns[[0]], inplace=True)
    section['year'] = pd.date_range(start='12/1/2012', periods=10, freq=pd.offsets.MonthEnd(12))
    parameters = []

    for i in range(5):
        p = section.iloc[: , [0, i+9]]
        p.rename(columns = {'year': 'ds' , p.columns.tolist()[1]: 'y'}, inplace = True)
        p = p.reset_index()
        parameters.append(p)
        
    all_forecasts = []
    for parameter in parameters:
        m = Prophet()
        m.fit(parameter.iloc[:, :8])
        future = m.make_future_dataframe(periods=1,freq='Y')
        forecast = m.predict(future)
        all_forecasts.append(forecast)
        
        
    preds, actual = [], []

    for forecast in all_forecasts:
#         print(forecast['yhat'][9])
        preds.append(forecast['yhat'][9])
#     print()
    for parameter in parameters:
#         print(parameter['y'][9])
        actual.append(parameter['y'][9])
        
        
    from sklearn.metrics import mean_squared_error
    errors.append(mean_squared_error(preds, actual))
#    print(mean_squared_error(preds, actual))

16:36:18 - cmdstanpy - INFO - Chain [1] start processing
16:36:18 - cmdstanpy - INFO - Chain [1] done processing
16:36:18 - cmdstanpy - INFO - Chain [1] start processing
16:36:18 - cmdstanpy - INFO - Chain [1] done processing
16:36:19 - cmdstanpy - INFO - Chain [1] start processing
16:36:19 - cmdstanpy - INFO - Chain [1] done processing
16:36:19 - cmdstanpy - INFO - Chain [1] start processing
16:36:19 - cmdstanpy - INFO - Chain [1] done processing
16:36:19 - cmdstanpy - INFO - Chain [1] start processing
16:36:19 - cmdstanpy - INFO - Chain [1] done processing
16:36:20 - cmdstanpy - INFO - Chain [1] start processing
16:36:20 - cmdstanpy - INFO - Chain [1] done processing
16:36:20 - cmdstanpy - INFO - Chain [1] start processing
16:36:20 - cmdstanpy - INFO - Chain [1] done processing
16:36:21 - cmdstanpy - INFO - Chain [1] start processing
16:36:21 - cmdstanpy - INFO - Chain [1] done processing
16:36:21 - cmdstanpy - INFO - Chain [1] start processing
16:36:26 - cmdstanpy - INFO - Chain [1] done processing
16:36:26 - cmdstanpy - INFO - Chain [1] start processing
16:36:26 - cmdstanpy - INFO - Chain [1] done processing
16:36:26 - cmdstanpy - INFO - Chain [1] start processing
16:36:26 - cmdstanpy - INFO - Chain [1] done processing
16:36:27 - cmdstanpy - INFO - Chain [1] start processing
16:36:27 - cmdstanpy - INFO - Chain [1] done processing
16:36:27 - cmdstanpy - INFO - Chain [1] start processing
16:36:32 - cmdstanpy - INFO - Chain [1] done processing
16:36:32 - cmdstanpy - INFO - Chain [1] start processing
16:36:32 - cmdstanpy - INFO - Chain [1] done processing
16:36:32 - cmdstanpy - INFO - Chain [1] start processing
16:36:32 - cmdstanpy - INFO - Chain [1] done processing
16:36:33 - cmdstanpy - INFO - Chain [1] start processing
16:36:33 - cmdstanpy - INFO - Chain [1] done processing
16:36:33 - cmdstanpy - INFO - Chain [1] start processing
16:36:33 - cmdstanpy - INFO - Chain [1] done processing
16:36:33 - cmdstanpy - INFO - Chain [1] start processing
16:36:33 - cmdstanpy - INFO - Chain [1] done processing
16:36:34 - cmdstanpy - INFO - Chain [1] start processing
16:36:34 - cmdstanpy - INFO - Chain [1] done processing
16:36:34 - cmdstanpy - INFO - Chain [1] start processing
16:36:34 - cmdstanpy - INFO - Chain [1] done processing
16:36:35 - cmdstanpy - INFO - Chain [1] start processing
16:36:35 - cmdstanpy - INFO - Chain [1] done processing
16:36:35 - cmdstanpy - INFO - Chain [1] start processing

### Outputs

In [ ]:
errors

In [ ]:
final_rmse = np.mean(errors)

In [ ]:
final_rmse