# Project 1
## Time Series Forecasting

### Importing libraries and importing dataset

In [105]:
#importing libraries
import pandas as pd
import numpy as np
from prophet import Prophet

In [106]:
#loading dataset
data = pd.read_csv("DATASET.csv");
#dropping rows (as the count is not 10)
data = data.drop(index=[910, 911, 912, 913, 914, 915, 916, 917, 918])

### Data preprocessing

In [110]:
#Time series data on a single Para
section = data.loc[:8]
section = section.iloc[: , 1:3]

#replacing year index values of 1,2,3 -> actual datetime format by assuming starting date to be 12/1/2012
section['year'] = pd.date_range(start='12/1/2012', periods=9, freq=pd.offsets.MonthEnd(12))

#changing names of the column to use in Prohpet library
section.rename(columns = {'year': 'ds' , 'Para-1': 'y'}, inplace = True)

In [111]:
section

          ds      y
0 2012-12-31  324.0
1 2013-12-31  324.0
2 2014-12-31  324.0
3 2015-12-31  324.0
4 2016-12-31  324.0
5 2017-12-31  324.0
6 2018-12-31  324.0
7 2019-12-31  324.0
8 2020-12-31  324.0

### Training Model

In [112]:
m = Prophet()
m.fit(section)

### Forecasting Values

In [113]:
future = m.make_future_dataframe(periods=1,freq='Y')
forecast = m.predict(future)
forecast

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
0,2012-12-31,324.0,324.0,324.000000,324.0,324.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,324.0
1,2013-12-31,324.0,324.0,324.000000,324.0,324.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,324.0
2,2014-12-31,324.0,324.0,324.000000,324.0,324.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,324.0
3,2015-12-31,324.0,324.0,324.000000,324.0,324.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,324.0
4,2016-12-31,324.0,324.0,324.000000,324.0,324.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,324.0
5,2017-12-31,324.0,324.0,324.000000,324.0,324.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,324.0
6,2018-12-31,324.0,324.0,324.000000,324.0,324.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,324.0
7,2019-12-31,324.0,324.0,324.000000,324.0,324.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,324.0
8,2020-12-31,324.0,324.0,324.000000,324.0,324.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,324.0
9,2021-12-31,324.0,324.0,324.000001,324.0,324.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,324.0